@tailwind base;
@tailwind components;
@tailwind utilities;

/* 네이티브 color input 크기 통일 */
input[type='color'] {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  cursor: pointer;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}
